In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [5]:
df2 = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [6]:
df.head(3)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0

In [9]:
df2.head(200)

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [11]:
df2.tail(15)

    LocationID        Borough                          Zone service_zone
85          86         Queens                  Far Rockaway    Boro Zone
86          87      Manhattan      Financial District North  Yellow Zone
87          88      Manhattan      Financial District South  Yellow Zone
88          89       Brooklyn          Flatbush/Ditmas Park    Boro Zone
89          90      Manhattan                      Flatiron  Yellow Zone
90          91       Brooklyn                     Flatlands    Boro Zone
91          92         Queens                      Flushing    Boro Zone
92          93         Queens  Flushing Meadows-Corona Park    Boro Zone
93          94          Bronx                 Fordham South    Boro Zone
94          95         Queens                  Forest Hills    Boro Zone
95          96         Queens     Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                   Fort Greene    Boro Zone
97          98         Queens                 Fresh Meadows    Boro Zone
98          99  Staten Island               Freshkills Park    Boro Zone
99         100      Manhattan              Garment District  Yellow Zone

In [20]:
df2.loc[df2['Zone'] == 'Astoria']

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [18]:
for Borough in df2:
    print(Borough)
    print(df2[Borough].unique())
    print('\n')

LocationID
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]


Borough
['EWR' 'Queens' 'Bronx' 'Manhattan' 'Staten Island' 'Brooklyn']


Zone
['Newark Airport' 'Jamaica Bay' 'Allerton/Pelham Gardens' 'Alphabet City'
 'Arden Heights' 'Arrochar/Fort Wadsworth' 'Astoria' 'Astoria Park'
 'Auburndale' 'Baisley Park' 'Bath Beach' 'Battery Park'
 'Battery Park City' 'Bay Ridge' 'Bay Terrace/Fort Totten' 'Bayside'
 'Bedford' 'Bedford Park' 'Bellerose' 'Belmont' 'Bensonhurst East'
 'Bensonhurst West' 'Bloomfield/Emerson Hill' 'Bloomingdale' 'Boerum Hill'
 'Borough Park' 'Breezy Point/Fort Tilden/Riis Beach'
 'Briarwood/Jamaica Hills' 'Brighton Beach' 'Broad Channel' 'Bronx Park'
 'Bronxdale' 'Brooklyn Heights' 'Brooklyn Navy Yard' 'Brownsville'
 'Bushwick North' 'Bushwick South' 'Cambria Heights' 'Canarsie'
 'Carroll Gardens' 'Central Harlem' 'Central Harlem North' 'Central Park'
 'Charleston/Tottenville' 'Chinatown' 'City Island' 'Claremont/Bathgate'
 'Clinton East' 'Clinton Hill' 'Clinton West' 'Co-Op City' 'Cobble Hill'
 'College Point' 'Columbia Street' 'Coney Island' 'Corona' 'Country Club'
 'Crotona Park' 'Crotona Park East' 'Crown Heights North'
 'Crown Heights South' 'Cypress Hills' 'Douglaston'
 'Downtown Brooklyn/MetroTech' 'DUMBO/Vinegar Hill' 'Dyker Heights'
 'East Chelsea' 'East Concourse/Concourse Village' 'East Elmhurst'
 'East Flatbush/Farragut' 'East Flatbush/Remsen Village' 'East Flushing'
 'East Harlem North' 'East Harlem South' 'East New York'
 'East New York/Pennsylvania Avenue' 'East Tremont' 'East Village'
 'East Williamsburg' 'Eastchester' 'Elmhurst' 'Elmhurst/Maspeth'
 "Eltingville/Annadale/Prince's Bay" 'Erasmus' 'Far Rockaway'
 'Financial District North' 'Financial District South'
 'Flatbush/Ditmas Park' 'Flatiron' 'Flatlands' 'Flushing'
 'Flushing Meadows-Corona Park' 'Fordham South' 'Forest Hills'
 'Forest Park/Highland Park' 'Fort Greene' 'Fresh Meadows'
 'Freshkills Park' 'Garment District']


service_zone
['EWR' 'Boro Zone' 'Yellow Zone']

In [5]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [10]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [25]:
len(df)

100000

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [30]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 10.4 s

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.115 second
inserted another chunk..., took 15.076 second
inserted another chunk..., took 14.321 second
inserted another chunk..., took 17.030 second
inserted another chunk..., took 16.002 second
inserted another chunk..., took 15.990 second
inserted another chunk..., took 16.380 second
inserted another chunk..., took 15.642 second
inserted another chunk..., took 14.489 second
inserted another chunk..., took 14.900 second
inserted another chunk..., took 14.711 second

C:\Users\alexe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk..., took 15.301 second
inserted another chunk..., took 9.552 second

StopIteration:

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')